<div>
  <h1>Add Subscription</h1>
  <form class="AddSub">
    <label>Subscription Name: </label>
    <input id="subname" type="text" /><br />
    <label>Spend/Month </label>
    <input id="spendmonthly" type="text" /><br />
    <label>Usage/Week Hours</label>
    <input id="usage" type="text" /><br />
    <label>Renewal Date </label>
    <input id="renewal" type="date" /><br />
    <input type="submit" value="Add" />
  </form>
</div>

<script src="./js/subCreate.js"></script>