 <h1 class="main">Add Subscription</h1>
  <form class="AddSub">
    <label>Subscription Name: </label>
    <input id="subname" type="text" /><br />
    <label>Spend/Month </label>
    <input id="spendmonthly" type="text" /><br />
    <label>Usage/Week Hours</label>
    <input id="usage" type="text" /><br />
    <label>Renewal Date </label>
    <input id="renewal" type="date" /><br />
    <input type="submit" value="Add" />
  </form>


<div class="search">
  <form id="search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
</div>
<div class="inventory">
    <div class="getSub">
    <div class="searchItem">
        <p class="itemName"></p>
    </div>
    {{#each subs as |subscript|}}
      <div>
        <p class="itemName">{{subscript.subscription_name}}</p>

    {{/each}}
  </div>
</div>

<script src="./js/subCreate.js"></script>