<div>
  <h1>New User Signup</h1>
  <form class="newUser">
    <label>Username: </label>
    <input id="uname" type="text" /><br />
    <label>Password: </label>
    <input id="pword" type="text" /><br />
    <label>Confirm Password: </label>
    <input id="pword" type="text" /><br />
    <input type="submit" value="Create Account" />
  </form>
</div>

<script src="/js/createUser.js"></script>