<div class="addSub">
  <form class="form-signin login-form" id="create">
    <h1 class="main">Add Subscription</h1>
    <label>Subscription Name: </label>
    <input id="subname" type="text" /><br />
    <label>Spend/Month </label>
    <input id="spendmonthly" type="text" /><br />
    <label>Usage/Week Hours</label>
    <input id="usage" type="text" /><br />
    <label>Renewal Date </label>
    <input id="renewal" type="date" /><br />
    <input type="submit" value="Add" />
  </form>
</div>

<form id="search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
  <input
    id="search"
    type="search"
    class="form-control"
    placeholder="Search..."
    aria-label="Search"
  />
</form>

{{! <div class="search">
  <form id="search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
  </form>
  </div> }}

<div class="inventory row container-fluid text-center getSub">
  <div class="searchItem">
    <p class="itemName"></p>
  </div>
  {{#each subs as |subscript|}}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 align-items-center justify-content-between"
        >
          <i class="far fa-plus-square"></i>
          <h3 class="itemName">{{subscript.subscription_name}}</h3>
        </div>
        <!-- Card Body -->
        <div class="card-body subs">

          <img src="./img/{{subscript.filename}}" alt="" />
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="./js/subCreate.js"></script>