<div class="text-center">
  <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
  <form class="form-signin login-form">
    <label for="inputuser" class="sr-only">User ID</label>
    <input
      type="text"
      id="uname"
      class="form-control"
      placeholder="Create User Name"
      required=""
      autofocus=""
    /><br />
    <label for="inputPassword" class="sr-only">Password</label>
   <input
      type="password"
      id="pword"
      class="form-control"
      placeholder="Create Password"
      required=""
    />
    <label for="inputPassword" class="sr-only">Confirm Password: </label>
    <input
      type="password"
      id="pword"
      class="form-control"
      placeholder="Confirm Password"
      required=""
    /><br />
    <input type="submit" value="Create Account" />
  </form>
</div>

<script src="/js/createUser.js"></script>