<div>
  <div>
    Welcome to SubHub! Track all your subscriptions and subscription spending in
    one place.
  </div>
  <div>
    Your Subscriptions:
  </div>
  <button>
    <a class="nav-link" href="/createSubscription">Create New Subscription</a>
  </button>
  {{! iterate over each subscription IF the user_id of the subscription matches id of authenticated user}}
  {{#each subscriptions.subscriptions as |subscript|}}
    <div>
      {{subscript.subscription_name}}
      {{subscript.spend}}
    </div>

  {{/each}}

  <div id="charts">
    <canvas id="myChart"></canvas>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/createChart.js"></script>