<div class="container-fluid intro responsive">
  <div class="row">
    <div class="col-xl-6 col-lg-3 pt-5 py-md-5">
      <p id="welcome" class="mt-5">Welcome to SubHub! Track all your
        subscriptions and subscription spending in one place.</p>
      <button class="btn btn-primary"><a href="/createUser">Get Started</a></button>
    </div>
    <div class="col-xl-6 col-lg-3 pt-5 py-md-5 text-center img1">
      <img
        src="/img/screenshot2.png"
        class="screenshot shadow h-100 py-2"
        alt=""
      />
    </div>
  </div>
</div>
<div class="container-fluid text-center responsive">
  <div class="row spend">

    <div class="col-xl-6 col-lg-3 pt-5 py-md-5 text-center">
      <img
        src="/img/landing3.png"
        class="screenshot shadow h-60"
        alt=""
      />
    <h3>Helping our community track of:</h3>
    <h3 ><div class="totalAgg">
          ${{total}}  
    </div></h3>
    <h3>worth of subscriptions annually</h3>

  </div>
  </div>
</div>
<div class="container-fluid dataVis responsive">
  <div class="row">
    <div class="col-xl-6 col-lg-3 pt-5">
      <img
        src="/img/landing1.png"
        class="screenshot shadow h-60"
        alt=""
      />
      </div>
    </div>
      <div class="col-xl-6 col-lg-3 pt-5 py-md-5">
        <p id="welcome" class="mt-5">Get control over your subscriptions</p>
        <p>Get an effortless breakdown of your finances to see where your money is going and how to improve.</p>
      </div>
  </div>
</div>
<div class="images responsive"> 
  <div>
    <h1> Popular Subscriptions </h1>
  </div>
  <div class="photos">
    <img src="./img/amazon.png" alt="Amazon logo" />
    <img src="./img/forbes.png" alt="Forbes logo" />
    <img src="./img/headspace.png" alt="Headspace logo" />
    <img src="./img/hulu.jpg" alt="Hulu logo" />
    <img src="./img/netflix.png" alt="Netflix logo" />
  </div>
</div>

<script src="./js/numberCounter.js"></script>