
<div>
        <p>Welcome to SubHub! Track all your subscriptions and subscription spending in one place.</p>
        <button> Login </button>
        <button> Signup </button>
</div>
<div>
    <h1> Popular Subscriptions </h1>
    <div>
        <img src="../public/img/amazon.png" alt="Amazon logo">
        <img src="../public/img/forbes.png" alt="Forbes logo">
        <img src="../public/img/headspace.png" alt="Headspace logo">
        <img src="../public/img/hulu.jpg" alt="Hulu logo">
        <img src="../public/img/netflix.svg" alt="Netflix logo">
    </div>
</div>