<div>
  <p>Welcome to SubHub! Track all your subscriptions and subscription spending
    in one place.</p>
</div>
<div>
  <h1> Popular Subscriptions </h1>
  <div>
    <img src="./img/amazon.png" alt="Amazon logo" />
    <img src="./img/forbes.png" alt="Forbes logo" />
    <img src="./img/headspace.png" alt="Headspace logo" />
    <img src="./img/hulu.jpg" alt="Hulu logo" />
    <img src="./img/netflix.svg" alt="Netflix logo" />
  </div>
</div>