<div>
    <h1>Login</h1>
    <form>
        <label>Username: </label>
        <input id="uname" type="text"><br>
        <label>Password: </label>
        <input id="pword" type="text"><br>
        <input type="submit" value="Login">
    </form>
</div>