<div>
  <h1>Login</h1>
  <form class="login-form">
    <label>Username: </label>
    <input id="uname" type="text" value="Lernantino" /><br />
    <label>Password: </label>
    <input id="pword" type="password" value="password12345" /><br />
    <input type="submit" value="Login" />
  </form>
</div>

<script src="./js/login.js"></script>