
/* This section of CSS is applying styling for login.handlebars */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  

body {
  height: 100%;

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;

}

body {
  background-color: white;
}

#hpbody {
  background-color: rgb(228, 228, 228);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* img {
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
/* #charts {
  max-width: 500;
} */

#welcome {
  font-family: "Luckiest Guy", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: xx-large;
}

#subtext {
  font-family: "Luckiest Guy", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: xx-large;
}
.card {
  font-family: "Luckiest Guy", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: large;
}

.navbar {
  font-size: large;
  font-weight: bold;
  background-color: white;
}

.border-left-primary {
  border-left: 0.25rem solid #df4e4e !important;
}
.border-left-success {
  border-left: 0.25rem solid #4edf5a !important;
}
.border-left-warning {
  border-left: 0.25rem solid #dfc94e !important;
}
.border-left-info {
  border-left: 0.25rem solid #4ed5df !important;
}

body{
  background-color: black;
}

#create{
  color: #ccc;
}

.main1{
  font-size: x-large;
}

.data-card {
  padding-top: 10px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.charts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subs img {
  width: 150px;
  height: 150px;
}
.createSub {
  width: 300px;
  background-color: rgb(0, 64, 85);
}
.createSub a {
  color: white;
}
.screenshot {
  width: 700px;
  border-radius: 5%;
}
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  background-color: white;
  margin-bottom: 50px;
}
/* .intro p {
  color: white;
} */
.photos img {
  width: 200px;
  height: 150px;
}

.images {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-top: 50px;
}
.dataVis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255);
}

a {
  color: white;
}

.dataVis img {
  margin-bottom: 20px;
}

.spend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  color: black;
  padding: 20px;
}

.spend img {
  width: 200px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  /* .navbar-nav {
    visibility: hidden; */
}
