This section of CSS is applying styling for login.handlebars input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

body {
  background-color: #f2f2f2b9;
}

#hpbody {
  background-color: rgb(245, 243, 243);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img {
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
/* #charts {
  max-width: 500;
} */

#welcome {
  font-family: "Luckiest Guy", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: xx-large;
}

#subtext {
  font-family: "Luckiest Guy", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: xx-large;
}
.card {
  font-family: "Luckiest Guy", cursive;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: large;
}

.navbar {
  font-size: large;
  font-weight: bold;
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.border-left-primary {
  border-left: 0.25rem solid #df4e4e !important;
}
.border-left-success {
  border-left: 0.25rem solid #4edf5a !important;
}
.border-left-warning {
  border-left: 0.25rem solid #dfc94e !important;
}
.border-left-info {
  border-left: 0.25rem solid #4ed5df !important;
}

.data-card {
  padding-top: 10px;
  font-size: medium;
}
.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subs img {
  width: 200px;
}
